
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

        <div class="sidebar-brand-text mx-3">Udemy <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Yöneti Paneli</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-list"></i>
            <span>Kategoriler</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">KATEGORİLER</h6>
                <a class="collapse-item" href="/Kategoriler/Ekle">Kategorileri Ekle</a>

                <a class="collapse-item" href="/Kategoriler/altketegori">Alt Kategori Ekle</a>
                <a class="collapse-item" href="/Kategoriler/Liste">Kategorileri Listele</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#varyant" aria-expanded="true" aria-controls="varyant">
            <i class="fas fa-align-right"></i>
            <span>Varyant</span>
        </a>
        <div id="varyant" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">VARYANT</h6>
                <a class="collapse-item" href="/Varyant/Ekle">Varyant Ekle</a>
                <a class="collapse-item" href="/Ozellikler/Ekle">Özellik Ekle</a>

                <a class="collapse-item" href="/Varyant/liste">Varyant Listele</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#urunler" aria-expanded="true" aria-controls="urunler">
            <i class="fas fa-dolly-flatbed"></i>
            <span>Ürünler</span>
        </a>
        <div id="urunler" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">ÜRÜNLER:</h6>
                <a class="collapse-item" href="/Urunler/Ekle">Ürün Ekle</a>
                <a class="collapse-item" href="/Urunler/liste">Ürün Listele</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#musteri" aria-expanded="true" aria-controls="musteri">
            <i class="fas fa-user-check"></i>
            <span>Müşteri</span>
        </a>
        <div id="musteri" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">MÜŞTERİLER : </h6>
                <a class="collapse-item" href="utilities-color.html">Müşteri Listele</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Stok" aria-expanded="true" aria-controls="Stok">
            <i class="fas fa-truck-moving"></i>
            <span>Stok</span>
        </a>
        <div id="Stok" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">STOK :</h6>
                <a class="collapse-item" href="/Stok/Takip">Stok Listele</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siteayarlari" aria-expanded="true" aria-controls="siteayarlari">
            <i class="fas fa-cogs"></i>
            <span>Site Ayarlari</span>
        </a>
        <div id="siteayarlari" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SİTE AYARLARI:</h6>
                <a class="collapse-item" href="/SiteAyarlari/Ekle">Site Ayari</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#icerikayarlari" aria-expanded="true" aria-controls="icerikayarlari">
            <i class="far fa-file-alt"></i>
            <span>İçerik Sayfalari</span>
        </a>
        <div id="icerikayarlari" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">İÇERİK SAYFALARİ:</h6>
                <a class="collapse-item" href="/Gizlilik/Index">Gizlilik Politikasi</a>
                <a class="collapse-item" href="/Hakkımızda/Index">Hakkımızda</a>
                <a class="collapse-item" href="/İade/Index">İade Koşullari</a>
                <a class="collapse-item" href="UyelikSözlesmesi/Index">Üyelik Sözlemesi</a>


            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siparis" aria-expanded="true" aria-controls="siparis">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Sipariş Ayarlari </span>
        </a>
        <div id="siparis" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SİPARİŞ AYARLARİ:</h6>
                <a class="collapse-item" href="/Kargo/liste">Kargo </a>
                <a class="collapse-item" href="/Odemeyontemi/liste">Ödeme Yöntemleri </a>
                <a class="collapse-item" href="/SiparisDurum/liste">Sipariş Durumlari </a>


            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siparisler" aria-expanded="true" aria-controls="siparisler">
            <i class="fas fa-shopping-basket"></i>
            <span>Sipariş </span>
        </a>
        <div id="siparisler" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SİPARİŞLER</h6>
                <a class="collapse-item" href="/Siparis/liste">Sipariş Görüntüle </a>
               


            </div>
        </div>
    </li>
    <!-- Sidebar Message -->


</ul>
   