@model eticaretprojesi.Models.Urunler
@{
    ViewBag.Title = "guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row p-2">
    <div class="col-md-12 col-sm-12 ">


        <div class="container table-bordered table-light ">

            <br />

            <h5 class="text-center">Stok Ekle</h5>
            <br />
            <br />
            <form method="post">


                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                           ID <span class="required"></span>

                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" name="Id" value="@Model.Id" class="form-control" disabled="disabled" />
                        </div>


                    </div>
                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Adet
                            <span class="required">*</span>

                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" name="Adet" value="@Model.Adet" class="form-control" />
                        </div>


                    </div>
                 
                    <div class="In_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 offset-md-3">
                            <button type="submit" class="btn btn-success"> Kaydet</button>
                            <button type="reset" class="btn btn-primary">Temizle</button>
                            <button type="button" class="btn btn-primary">İptal</button>



                        </div>

                    </div>
                

            </form>




        </div>
    </div>
</div>
