@model eticaretprojesi.Models.Varyant
@{
    ViewBag.Title = "guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span3">

    <div class="container">
        <form method="post">
            <div class="form-group">
                <div class="col-md-6 text-center">
                    <label>Kategori</label>
                    <br />
                    <select name="KategoriId" class="form-control">

                        <option value="-1">Seçiniz</option>
                        @foreach (var item in ViewBag.kategori)
                        {
                            <option value="@item.Id">@item.Tanim</option>

                        }
                    </select>
                </div>
                <h3>Varyant</h3>
                
                <input type="text" value="@Model.Tanim" name="Tanim" class="span3" />

                <input type="hidden" name="Id" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>

        </form>

    </div>
</div>

